/* Start of CSS code */
/* Start of font declarations */
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text|Mansalva|Turret+Road&display=swap');

:root {
  --navFont: Mansalva, cursive;
  --headFont: 'Turret Road', cursive;
  --paraFont: 'Big Shoulders Text', cursive;
}

/* End of font declarations */
/* Start of css targeting specific tags in the HTML */
h1 {
  color: purple;
  display: flex;
  justify-content: center;
}

img {
  width: 50%;
  margin: 0px 25% 0px 25%;
}

/* Start of font declarations being applied */
p {
  font-family: var(--paraFont);
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--headFont);
}

a {
  font-family: var(--navFont);
}

/* End of font declarations being applied */
i {
  font-size: 2em;
}

/* End of css targeting specific tags in the HTML */
/* Start of css classes that are used inside of the HTML code */
.aboutbackground {
  background-color: purple;
  color: white;
}

.abouth1 {
  color: white;
  display: flex;
  justify-content: center;
}

.socialbackground {
  background-color: yellow;
}

.contactbackground {
  background-color: silver;
}

.aboutLink {
  color: white;
}

.font {
  font-family: "Times New Roman", Times, serif;
}

.border {
  border-style: solid;
  border-color: black;
  border-width: 4px;
}

.top-nav {
  height: 100%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  border-style: dashed;
  border-color: black;
  border-width: 4px;
}

.inBox {
  display: flex;
  justify-content: space-between;
}

.hLink {
  font-size: 24px;
  display: flex;
  justify-content: center;
}

.hLinkBorder {
  border-style: none;
  border-width: 1px;
  margin: 10px;
}

.awayFromLeftEdgeBorder {
  border-style: none;
  border-width: 1px;
  margin-left: 5px;
  margin-right: 5px;
}

.contactbox {
  padding: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  background-color: purple;
  color: yellow;
  margin: 20px;
}

.awayFromBottomNav {
  border-style: dashed;
  border-color: black;
  border-width: 4px;
}

/* Start of Font Awesome logos. */
.fa-youtube-square {
  color: white;
  background-color: red;
}

.fa-discord {
  color: blue;
  background-color: white;
}

.fa-facebook-square {
  color: blue;
  background-color: white;
}

.fa-twitch {
  color: purple;
  background-color: white;
}

.fa-steam-square {
  color: darkblue;
  background-color: white;
}

/* End of Font Awesome logos */
/* End of css classes that are used inside of the HTML code */
/* End of CSS code */