root {}

h1 {
  color: purple;
  display: flex;
  justify-content: center;
}

.aboutbackground {
  background-color: purple;
  color: white;
}

.abouth1 {
  color: white;
  display: flex;
  justify-content: center;
}

img {
  width: 50%;
  margin: 0px 25% 0px 25%;
}

.socialbackground {
  background-color: yellow;
}

.contactbackground {
  background-color: silver;
}

.aboutLink {
  color: white;
}

.font {
  font-family: "Times New Roman", Times, serif;
}

.border {
  border-style: solid;
  border-color: black;
  border-width: 4px;
}

.top-nav {
  height: 100%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  border-style: dashed;
  border-color: black;
  border-width: 4px;
}

.inBox {
  display: flex;
  justify-content: space-between;
}

.hLink {
  font-size: 24px;
  display: flex;
  justify-content: center;
}

.hLinkBorder {
  border-style: none;
  border-width: 1px;
  margin: 10px;
}

.awayFromLeftEdgeBorder {
  border-style: none;
  border-width: 1px;
  margin-left: 5px;
  margin-right: 5px;
}

.contactbox {
  padding: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  background-color: purple;
  color: yellow;
  margin: 20px;
}

.awayFromBottomNav {
  border-style: dashed;
  border-color: black;
  border-width: 4px;
}