h1 {
  color: purple;
}

.aboutbackground {
  background-color: purple;
  color: white;
}

.abouth1 {
  color: white;
}

img {
  width: 50%;
}

.socialbackground {
  background-color: yellow;
}

.contactbackground {
  background-color: silver;
}

.contactbox {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  background-color: purple;
  color: yellow;
  margin: 30px;
}

.aboutLink {
  color: white;
}

.font {
  font-family: "Times New Roman", Times, serif;
}

.border {
  border-style: solid;
  border-color: black;
  border-width: 4px, 4px. 4px, 4px;
}

.top-nav {
  display: flex;
  justify-content: space-around;
}